/**
 * custom theme 2018-08-14 15:17:47 */

#newsletter_pop_up{
width: 822px;height: 469px;background-image: url(http://127.0.0.1/MGT/cyrus/pub/media/rokanthemes/newsletter/background/default/bkg_newsletter.jpg);background-repeat: no-repeat;
background-position: left top;}
