/**
 * custom theme 2018-02-25 09:43:41 */

#newsletter_pop_up{
width: 920px;height: 430px;background-image: url(http://127.0.0.1/MGT/cogito/pub/media/rokanthemes/newsletter/background/default/popup-newsletter.jpg);background-repeat: no-repeat;
background-position: left top;}
