<?xml version="1.0"?>
<!--
/**
 * Rokanthemes Infotech
 * Rokanthemes Instagram Extension
 * 
 * @category   Rokanthemes
 * @package    Rokanthemes_Instagram
 * @copyright  Copyright © 2006-2016 Rokanthemes (https://www.rokanthemesinfotech.com)
 * @license    https://www.rokanthemesinfotech.com/magento-extension-license/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
		<add id="Rokanthemes_Instagram::instagram" title="Instagram" module="Rokanthemes_Instagram" sortOrder="56" resource="Rokanthemes_Instagram::instagram"/>
        <add id="Rokanthemes_Instagram::instagram_config" title="Configuration" module="Rokanthemes_Instagram" sortOrder="20" parent="Rokanthemes_Instagram::instagram" action="adminhtml/system_config/edit/section/instagramsection" resource="Rokanthemes_Instagram::instagram_config"/>
    </menu>
</config>
