<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="onsaleproduct" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Onsale Product</label>
            <tab>rokanthemes</tab>
			<resource>Magento_Catalog::config_onsaleproduct</resource>
            <group id="onsaleproduct_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Onsale Product Config</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="title" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title:</label>
					<comment>Block Title</comment>
				</field>			
				<field id="review" translate="label comment" type="select" sortOrder="40"  showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Review Rating:</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>			
				<field id="qty" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Qty Of Products:</label>
				</field>		
				<field id="items" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Products per row:</label>
				</field>	
				<field id="width" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Width Of Thumbnail:</label>
				</field>
				<field id="height" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Height Of Thumbnail:</label>
				</field>
            </group>
        </section>
    </system>
</config>
